.wrap {
	overflow: hidden;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form {
	width: 95%;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	button {
		padding: 0.5rem 1rem;
		border-radius: 0.5rem;
		transition: 0.5s;
		background: transparent;
		border: 1px solid #ff6a00;
		color: #ff6a00;
		&:hover {
			color: #fff;
		}
		&:active {
			transform: scale(1);
		}
		&:focus {
			color: #fff;
		}
	}
}

h1 {
	font-size: 1.3rem;
	text-align: center;
}