.password {
	min-width: 100%;
	position: relative;
	input {
		width: 100%;
		padding: 1rem 1.5rem;
		border-bottom: 1px solid #ff6a00;
		background: transparent;
		color: #fff;
		transition: 0.5s;
		&:hover {
			transform: scale(1.05);
		}
		&:focus {
			transform: scale(1.05);
		}
	}
	
	button {
		position: absolute;
		bottom: 0;
		right: 0;
		border: none;
		color: #fff;
		font-size: 1.2rem;
		&:hover {
			color: rgba(255, 255, 255, 0.514);
		}
		&:active {
			color: #fff;
		}
	}
}
