.content__block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	row-gap: 0.2rem;
}

.comment {
	display: flex;
	align-items: start;
	column-gap: 0.5rem;
}

.comment__item {
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(255, 255, 255, 0.247);
	padding: 0.5rem 0;
	&:last-child {
		border-bottom: none;
	}
	&:hover {
		.delete {
			transition: 0.5s;
			opacity: 1;
		}
	}
}

.delete {
	transition: 0.5s;
	opacity: 0;
	align-self: start;
	background: transparent;
	color: #a49c90;
	font-size: 1.2rem;
	&:hover {
		color: #a49c9073;
	}
	&:active {
		color: #a49c90;
	}
}

.avatar {
	display: flex;
	font-size: 1.2rem;
	background: rgba(255, 255, 255, 0.4);
	padding: 0.35rem;
	border-radius: 50%;
	img {
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 50%;

		object-fit: cover;
	}
}

.avatar__active {
	padding: 0;
}

.update__time {
	color: #a49c90;
	font-size: 0.7rem;
}

.message {
	span {
		cursor: pointer;
		color: #ff6a00;
		&:hover {
			color: #ff6a0096;
		}
		&:active {
			color: #ff6a00;
		}
	}
}

.name {
	cursor: pointer;
	border-bottom: 1px solid transparent;
	&:hover {
		border-bottom: 1px solid #fff;
	}
	&:active {
		color: rgba(255, 255, 255, 0.5);
	}
}
