.wrap {
  background: #131516;
  border-radius: 0.5rem;
  padding: 0 2rem;
  width: 100%;
  max-height: 90vh;
  
}

.area__upload {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 0.5rem;
	padding: 2rem 0;
}

.upload {
	background: transparent;
	color: #ff6a00;
	font-size: 1.1rem;
	border: 1px dashed #ff6a00;
	padding: 0.5rem;
	border-radius: 0.5rem;
	&:hover {
		color: #ff6a008f;
	}
	&:active {
		color: #ff6a00;
	}
	label {
		cursor: pointer;
		display: flex;
		align-items: center;
		column-gap: 0.5rem;
	}
	input {
		display: none;
	}
}

.preview__avatar {
	width: 70%;
  max-height: 90vh;
	object-fit: contain;
}

.btns {
	display: flex;
	column-gap: 0.5rem;
	button {
		padding: 0.5rem;
		border-radius: 0px;
		border-radius: 0.5rem;
		color: #ff6a00;
		border: 1px solid #ff6a00;
		background: transparent;
		&:hover {
			border: 1px solid #ff6a0098;
			color: #ff6a0098;
		}
		&:active {
			border: 1px solid #ff6a00;
			color: #ff6a00;
		}
	}
}
