.wrap {
	padding-top: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 100%;
	overflow-y: auto;
	@media (max-width: 906px) {
		display: none;
		width: 40%;
	}
	@media (max-width: 500px) {
		width: 60%;
	}
	button {
		width: 100%;
		display: flex;
		align-items: center;
		column-gap: 0.5rem;
		background: transparent;
		color: #fff;
		padding: 0.3rem 0.4rem;
		&:hover {
			background: #1a1c1d;
			border-radius: 0.2rem;
		}
	}
	svg {
		font-size: 1.2rem;
		color: #ff6a00;
	}
}

.active {
	@media (max-width: 906px) {
		display: flex;
		position: fixed;
		background: #1a1c1d;
		height: 100%;
		left: 0;
		top: 3.1rem;
		z-index: 10000;
		button {
			&:hover {
				background: #1f2122;
			}
		}
	}
}
.friend {
	display: flex;
	align-items: center;
	column-gap: 0.3rem;
	width: 100%;
	// justify-content: space-between;
}
.count {
	display: flex;
	background: #ff6a00;
	padding: 0.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 0.7rem;
	height: 0.7rem;
	// padding: 0.2rem 0.2rem;
	font-size: 0.5rem;
	border-radius: 50%;
}
