.wrap {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  row-gap: 0.5rem;
  background: #1a1c1d;
  height: 100%;
  border-radius: 0.5rem;
	svg {
		font-size: 5rem;
	}
  h1 {
    font-size: 1.3rem;
  }
}

.unlock{
  		color: #ff6a00;
		background: transparent;
		border: 1px solid #ff6a00;
		padding: 0.5rem 1rem;
		border-radius: 0.5rem;
		&:hover {
			border: 1px solid #ff6a00a1;
		}
		&:active {
			border: 1px solid #ff6a00;
		}
}